<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->
{% load static %}
<head>
	<title>Data Dive</title>
	<!-- Meta-Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--Style-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
	<!--Font-awesome-icons -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<!--Google-fonts -->
	<link href="//fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600,700&display=swap"
		rel="stylesheet">
		<link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<!-- //Head -->
<!-- Body -->

<body>
	<section class="w3l-coming-soon-page">
		<div class="coming-page-infohny">
			<div class="wrapper">
				<div class="header">
					<div class="logo">
						<a class="brand-logo" href="{% url 'home' %}">Data Dive</a>
					</div>
					<div class="w3lhny-button text-right">
						<a class="alive-btn" href="{% url 'list_data' %}">Uploaded Files</a>
					</div>
					<form action="{% url 'search' %}">
						{% csrf_token %}
						<input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
						<button class="btn btn-outline-secondary" type="submit">Search</button>
					</form>
				</div>
				<div class="coming-block">
					<div class="card-body">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script>
			(() => {
				// Specify the deadline date
				const deadlineDate = new Date('May 31, 2023 23:59:59').getTime();

				// Cache all countdown boxes into consts
				const countdownDays = document.querySelector('.countdown__days .number');
				const countdownHours = document.querySelector('.countdown__hours .number');
				const countdownMinutes = document.querySelector('.countdown__minutes .number');
				const countdownSeconds = document.querySelector('.countdown__seconds .number');

				// Update the count down every 1 second (1000 milliseconds)
				setInterval(() => {
					// Get current date and time
					const currentDate = new Date().getTime();

					// Calculate the distance between current date and time and the deadline date and time
					const distance = deadlineDate - currentDate;

					// Calculations the data for remaining days, hours, minutes and seconds
					const days = Math.floor(distance / (1000 * 60 * 60 * 24));
					const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					const seconds = Math.floor((distance % (1000 * 60)) / 1000);

					// Insert the result data into individual countdown boxes
					countdownDays.innerHTML = days;
					countdownHours.innerHTML = hours;
					countdownMinutes.innerHTML = minutes;
					countdownSeconds.innerHTML = seconds;
				}, 1000);
			})();
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	</section>
	<!-- //coming-61-w3l-vv-section -->

</body>
<!-- //Body -->

</html>